# *.png
*.gif
*.bmp
*.jpg
*.jpeg
# *.obj
*.dae
*.xcf
*~
~*
cmake_install.cmake
# *.cmake
*.blend*

/resource/*
!/resource/shader/
/AUTHORS
/COPYING
/INSTALL
/NEWS
/COPYING
/AUTHORS

build/
bin/*
libs/SimpleJSON

ChangeLog
# CMakeLists.txt
CMakeCache.txt
CMakeFiles
Makefile

*.sublime-*

run.sh

res/shader
